*{
    font-family: Georgia;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #EFE1B5;
}

.title {
   font-size: 40px;
   text-align: center;
   color: #6E5034;
}
.userResponse{
    text-align: center;
}
#userInp{
    width: 200px;
    padding: 10px;
    background-color: white;
    font-size: 16px;
     box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
     border: none;
     border-radius: 10px;
    
}

.buttons, .reset,.computerResponse{
    text-align: center;
}

#guessBtn {
   padding: 10px 40px;
   font-size: 16px;
   background-color: #6E5034;
   box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
   border: none;
   border-radius: 4px;
   color: #CDB885;
   margin: 10px;
}

#computerRsp{
    color: teal;
    margin: 10px;
}

#totalAttempt{
    color: teal;
    margin: 10px;
}

#resetBtn{
    padding: 10px 40px;
    font-size: 16px;
    background-color: #5DD3B6;
    color: black;
     box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
     border: none;
   border-radius: 4px;
   margin: 10px;
}